{% block styles %}

<style>

/* HEADER styles */
img.zombie {
  display: inline;

}

img.zr {
  max-width: 3.6rem !important;
  position: relative;
  left: -0.6rem;
}

img.zl {
  max-width: 3.6rem !important;
  position: relative;
  right: -0.4rem;
}



/* LAUNCHER styles */
div.attack-creator {
  width: 22rem;
}

.launcher-m {
  width: 19rem;
}
.launcher-l {
  width: 23rem;
}

.launcher-img-m {
  width: 19.5rem;
}
.launcher-img-l {
  width: 22.5rem;
}

.table-m {
 min-width: 22rem;
 width: 22rem;
 max-height: 11.2rem;
}
.table-l {
 min-width: 22rem;
 width: 22rem;
 max-height: 29.3rem;
}



/* BASE WINDOW styles */
img.window-icon {
    display: inline;
    margin-right: 5px;
    margin-left: 3px;
    /*vertical-align: middle; */
    width: 0.5rem;
}

span.img-icon {
    font-size: 0.8rem;
}

form button.standard {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}


/* POPUPS styles */
.popup {
  z-index: 20;
  position:absolute;
  top:50%;
  left:50%;
  /*min-width:400px !important;
  min-height:400px !important;*/
  margin-left:-200px !important;
  margin-top:-200px !important;
}

.js-popup {
  z-index: 15;
  position: fixed;
  bottom: 6rem;
  right: 4rem;
}

div#proxy-js-popup {
  width: 12.5rem;
}


/* TABLES styles */
.users-panel {
  flex-direction: column;
  justify-content: center;
}
.mewtwo-panel {
  height: 13rem;
  align-self: center;
}
.users-table-panel {

}

.scroll-table {
  overflow-y: auto;
  max-height: 30rem;
}



/* DASHBOARD styles */
div#dashboard-wrapper {
    max-width: 22rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

div#navbar-wrapper {
    width: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;*/
}

div#central-panel-wrapper {
    width: 26rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}

div.attack-creator {
  width: 22rem;
}



/* FORMS styles */
input.date-field {
  width: 6.8rem;
}

input.time-field {
  width: 5.7rem;
}

button#creator {
    margin-top: 0.5rem;
    margin-left: 3rem;
}


</style>

{% endblock %}