/*{% block styles %}
<style>*/


/* HEADER styles */
header {
  background-color: orangered;
}

/* DASHBOARD styles */
div#dashboard-wrapper {
    max-width: 95%;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    justify-content: center;
    align-content: space-around;
}

div#navbar-wrapper {
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  /*align-items: stretch;
  align-content: flex-start;*/
}

div#central-panel-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}


/* LAUNCHER styles */
div.attack-creator {
  width: 40rem;
}

.launcher-m {
  width: 25rem;
}
.launcher-l {
  width: 30rem;
}

.launcher-img-m {
  width: 17.5rem;
}
.launcher-img-l {
  width: 22.5rem;
}
/*.table-xl {
  min-width: 50%;
  max-height: 38rem;
}*/


/* TABLES styles */
.table-m {
 min-width: 100%;
 width: 100%;
 max-height: 11.2rem;
}
.table-l {
 min-width: 100%;
 width: 100%;
}

.mewtwo-panel {
  max-width: 30%;
}

.users-table-panel {
  max-width: 70%;
}


/*</style>
{% endblock %}*/