{% if country_code == 'XX' %}<span class="flag-icon">🏴‍☠️</span>
{% elif country_code == 'AF' %}<span class="flag-icon">🇦🇫</span>
{% elif country_code == 'AX' %}<span class="flag-icon">🇦🇽</span>
{% elif country_code == 'AL' %}<span class="flag-icon">🇦🇱</span>
{% elif country_code == 'DZ' %}<span class="flag-icon">🇩🇿</span>
{% elif country_code == 'AS' %}<span class="flag-icon">🇦🇸</span>
{% elif country_code == 'AD' %}<span class="flag-icon">🇦🇩</span>
{% elif country_code == 'AO' %}<span class="flag-icon">🇦🇴</span>
{% elif country_code == 'AI' %}<span class="flag-icon">🇦🇮</span>
{% elif country_code == 'AQ' %}<span class="flag-icon">🇦🇶</span>
{% elif country_code == 'AG' %}<span class="flag-icon">🇦🇬</span>
{% elif country_code == 'AR' %}<span class="flag-icon">🇦🇷</span>
{% elif country_code == 'AM' %}<span class="flag-icon">🇦🇲</span>
{% elif country_code == 'AW' %}<span class="flag-icon">🇦🇼</span>
{% elif country_code == 'AU' %}<span class="flag-icon">🇦🇺</span>
{% elif country_code == 'AT' %}<span class="flag-icon">🇦🇹</span>
{% elif country_code == 'AZ' %}<span class="flag-icon">🇦🇿</span>
{% elif country_code == 'BS' %}<span class="flag-icon">🇧🇸</span>
{% elif country_code == 'BH' %}<span class="flag-icon">🇧🇭</span>
{% elif country_code == 'BD' %}<span class="flag-icon">🇧🇩</span>
{% elif country_code == 'BB' %}<span class="flag-icon">🇧🇧</span>
{% elif country_code == 'BY' %}<span class="flag-icon">🇧🇾</span>
{% elif country_code == 'BE' %}<span class="flag-icon">🇧🇪</span>
{% elif country_code == 'BZ' %}<span class="flag-icon">🇧🇿</span>
{% elif country_code == 'BJ' %}<span class="flag-icon">🇧🇯</span>
{% elif country_code == 'BM' %}<span class="flag-icon">🇧🇲</span>
{% elif country_code == 'BT' %}<span class="flag-icon">🇧🇹</span>
{% elif country_code == 'BO' %}<span class="flag-icon">🇧🇴</span>
{% elif country_code == 'BQ' %}<span class="flag-icon">🇧🇶</span>
{% elif country_code == 'BA' %}<span class="flag-icon">🇧🇦</span>
{% elif country_code == 'BW' %}<span class="flag-icon">🇧🇼</span>
{% elif country_code == 'BV' %}<span class="flag-icon">🇧🇻</span>
{% elif country_code == 'BR' %}<span class="flag-icon">🇧🇷</span>
{% elif country_code == 'IO' %}<span class="flag-icon">🇮🇴</span>
{% elif country_code == 'BN' %}<span class="flag-icon">🇧🇳</span>
{% elif country_code == 'BG' %}<span class="flag-icon">🇧🇬</span>
{% elif country_code == 'BF' %}<span class="flag-icon">🇧🇫</span>
{% elif country_code == 'BI' %}<span class="flag-icon">🇧🇮</span>
{% elif country_code == 'CV' %}<span class="flag-icon">🇨🇻</span>
{% elif country_code == 'KH' %}<span class="flag-icon">🇰🇭</span>
{% elif country_code == 'CM' %}<span class="flag-icon">🇨🇲</span>
{% elif country_code == 'CA' %}<span class="flag-icon">🇨🇦</span>
{% elif country_code == 'KY' %}<span class="flag-icon">🇰🇾</span>
{% elif country_code == 'CF' %}<span class="flag-icon">🇨🇫</span>
{% elif country_code == 'TD' %}<span class="flag-icon">🇹🇩</span>
{% elif country_code == 'CL' %}<span class="flag-icon">🇨🇱</span>
{% elif country_code == 'CN' %}<span class="flag-icon">🇨🇳</span>
{% elif country_code == 'CX' %}<span class="flag-icon">🇨🇽</span>
{% elif country_code == 'CC' %}<span class="flag-icon">🇨🇨</span>
{% elif country_code == 'CO' %}<span class="flag-icon">🇨🇴</span>
{% elif country_code == 'KM' %}<span class="flag-icon">🇰🇲</span>
{% elif country_code == 'CG' %}<span class="flag-icon">🇨🇬</span>
{% elif country_code == 'CD' %}<span class="flag-icon">🇨🇩</span>
{% elif country_code == 'CK' %}<span class="flag-icon">🇨🇰</span>
{% elif country_code == 'CR' %}<span class="flag-icon">🇨🇷</span>
{% elif country_code == 'CI' %}<span class="flag-icon">🇨🇮</span>
{% elif country_code == 'HR' %}<span class="flag-icon">🇭🇷</span>
{% elif country_code == 'CU' %}<span class="flag-icon">🇨🇺</span>
{% elif country_code == 'CW' %}<span class="flag-icon">🇨🇼</span>
{% elif country_code == 'CY' %}<span class="flag-icon">🇨🇾</span>
{% elif country_code == 'CZ' %}<span class="flag-icon">🇨🇿</span>
{% elif country_code == 'DK' %}<span class="flag-icon">🇩🇰</span>
{% elif country_code == 'DJ' %}<span class="flag-icon">🇩🇯</span>
{% elif country_code == 'DM' %}<span class="flag-icon">🇩🇲</span>
{% elif country_code == 'DO' %}<span class="flag-icon">🇩🇴</span>
{% elif country_code == 'EC' %}<span class="flag-icon">🇪🇨</span>
{% elif country_code == 'EG' %}<span class="flag-icon">🇪🇬</span>
{% elif country_code == 'SV' %}<span class="flag-icon">🇸🇻</span>
{% elif country_code == 'GQ' %}<span class="flag-icon">🇬🇶</span>
{% elif country_code == 'ER' %}<span class="flag-icon">🇪🇷</span>
{% elif country_code == 'EE' %}<span class="flag-icon">🇪🇪</span>
{% elif country_code == 'SZ' %}<span class="flag-icon">🇸🇿</span>
{% elif country_code == 'ET' %}<span class="flag-icon">🇪🇹</span>
{% elif country_code == 'FK' %}<span class="flag-icon">🇫🇰</span>
{% elif country_code == 'FO' %}<span class="flag-icon">🇦🇨</span>
{% elif country_code == 'FJ' %}<span class="flag-icon">🇫🇯</span>
{% elif country_code == 'FI' %}<span class="flag-icon">🇫🇮</span>
{% elif country_code == 'FR' %}<span class="flag-icon">🇫🇷</span>
{% elif country_code == 'GF' %}<span class="flag-icon">🇬🇫</span>
{% elif country_code == 'PF' %}<span class="flag-icon">🇵🇫</span>
{% elif country_code == 'TF' %}<span class="flag-icon">🇹🇫</span>
{% elif country_code == 'GA' %}<span class="flag-icon">🇬🇦</span>
{% elif country_code == 'GM' %}<span class="flag-icon">🇬🇲</span>
{% elif country_code == 'GE' %}<span class="flag-icon">🇬🇪</span>
{% elif country_code == 'DE' %}<span class="flag-icon">🇩🇪</span>
{% elif country_code == 'GH' %}<span class="flag-icon">🇬🇭</span>
{% elif country_code == 'GI' %}<span class="flag-icon">🇬🇮</span>
{% elif country_code == 'GR' %}<span class="flag-icon">🇬🇷</span>
{% elif country_code == 'GL' %}<span class="flag-icon">🇬🇱</span>
{% elif country_code == 'GD' %}<span class="flag-icon">🇬🇩</span>
{% elif country_code == 'GP' %}<span class="flag-icon">🇬🇵</span>
{% elif country_code == 'GU' %}<span class="flag-icon">🇬🇺</span>
{% elif country_code == 'GT' %}<span class="flag-icon">🇬🇹</span>
{% elif country_code == 'GG' %}<span class="flag-icon">🇬🇬</span>
{% elif country_code == 'GN' %}<span class="flag-icon">🇬🇳</span>
{% elif country_code == 'GW' %}<span class="flag-icon">🇬🇼</span>
{% elif country_code == 'GY' %}<span class="flag-icon">🇬🇾</span>
{% elif country_code == 'HT' %}<span class="flag-icon">🇭🇹</span>
{% elif country_code == 'HM' %}<span class="flag-icon">🇭🇲</span>
{% elif country_code == 'VA' %}<span class="flag-icon">🇻🇦</span>
{% elif country_code == 'HN' %}<span class="flag-icon">🇭🇳</span>
{% elif country_code == 'HK' %}<span class="flag-icon">🇭🇰</span>
{% elif country_code == 'HU' %}<span class="flag-icon">🇭🇺</span>
{% elif country_code == 'IS' %}<span class="flag-icon">🇮🇸</span>
{% elif country_code == 'IN' %}<span class="flag-icon">🇮🇳</span>
{% elif country_code == 'ID' %}<span class="flag-icon">🇮🇩</span>
{% elif country_code == 'IR' %}<span class="flag-icon">🇮🇷</span>
{% elif country_code == 'IQ' %}<span class="flag-icon">🇮🇶</span>
{% elif country_code == 'IE' %}<span class="flag-icon">🇮🇪</span>
{% elif country_code == 'IM' %}<span class="flag-icon">🇮🇲</span>
{% elif country_code == 'IL' %}<span class="flag-icon">🇮🇱</span>
{% elif country_code == 'IT' %}<span class="flag-icon">🇮🇹</span>
{% elif country_code == 'JM' %}<span class="flag-icon">🇯🇲</span>
{% elif country_code == 'JP' %}<span class="flag-icon">🇯🇵</span>
{% elif country_code == 'JE' %}<span class="flag-icon">🇯🇪</span>
{% elif country_code == 'JO' %}<span class="flag-icon">🇯🇴</span>
{% elif country_code == 'KZ' %}<span class="flag-icon">🇰🇿</span>
{% elif country_code == 'KE' %}<span class="flag-icon">🇰🇪</span>
{% elif country_code == 'KI' %}<span class="flag-icon">🇰🇮</span>
{% elif country_code == 'KP' %}<span class="flag-icon">🇰🇵</span>
{% elif country_code == 'KR' %}<span class="flag-icon">🇰🇷</span>
{% elif country_code == 'KW' %}<span class="flag-icon">🇰🇼</span>
{% elif country_code == 'KG' %}<span class="flag-icon">🇰🇬</span>
{% elif country_code == 'LA' %}<span class="flag-icon">🇱🇦</span>
{% elif country_code == 'LV' %}<span class="flag-icon">🇱🇻</span>
{% elif country_code == 'LB' %}<span class="flag-icon">🇱🇧</span>
{% elif country_code == 'LS' %}<span class="flag-icon">🇱🇸</span>
{% elif country_code == 'LR' %}<span class="flag-icon">🇱🇷</span>
{% elif country_code == 'LY' %}<span class="flag-icon">🇱🇾</span>
{% elif country_code == 'LI' %}<span class="flag-icon">🇱🇮</span>
{% elif country_code == 'LT' %}<span class="flag-icon">🇱🇹</span>
{% elif country_code == 'LU' %}<span class="flag-icon">🇱🇺</span>
{% elif country_code == 'MO' %}<span class="flag-icon">🇲🇴</span>
{% elif country_code == 'MG' %}<span class="flag-icon">🇲🇬</span>
{% elif country_code == 'MW' %}<span class="flag-icon">🇲🇼</span>
{% elif country_code == 'MY' %}<span class="flag-icon">🇲🇾</span>
{% elif country_code == 'MV' %}<span class="flag-icon">🇲🇻</span>
{% elif country_code == 'ML' %}<span class="flag-icon">🇲🇱</span>
{% elif country_code == 'MT' %}<span class="flag-icon">🇲🇹</span>
{% elif country_code == 'MH' %}<span class="flag-icon">🇲🇭</span>
{% elif country_code == 'MQ' %}<span class="flag-icon">🇲🇶</span>
{% elif country_code == 'MR' %}<span class="flag-icon">🇲🇷</span>
{% elif country_code == 'MU' %}<span class="flag-icon">🇲🇺</span>
{% elif country_code == 'YT' %}<span class="flag-icon">🇾🇹</span>
{% elif country_code == 'MX' %}<span class="flag-icon">🇲🇽</span>
{% elif country_code == 'FM' %}<span class="flag-icon">🇫🇲</span>
{% elif country_code == 'MD' %}<span class="flag-icon">🇲🇩</span>
{% elif country_code == 'MC' %}<span class="flag-icon">🇲🇨</span>
{% elif country_code == 'MN' %}<span class="flag-icon">🇲🇳</span>
{% elif country_code == 'ME' %}<span class="flag-icon">🇲🇪</span>
{% elif country_code == 'MS' %}<span class="flag-icon">🇲🇸</span>
{% elif country_code == 'MA' %}<span class="flag-icon">🇲🇦</span>
{% elif country_code == 'MZ' %}<span class="flag-icon">🇲🇿</span>
{% elif country_code == 'MM' %}<span class="flag-icon">🇲🇲</span>
{% elif country_code == 'NA' %}<span class="flag-icon">🇳🇦</span>
{% elif country_code == 'NR' %}<span class="flag-icon">🇳🇷</span>
{% elif country_code == 'NP' %}<span class="flag-icon">🇳🇵</span>
{% elif country_code == 'NL' %}<span class="flag-icon">🇳🇱</span>
{% elif country_code == 'NC' %}<span class="flag-icon">🇳🇨</span>
{% elif country_code == 'NZ' %}<span class="flag-icon">🇳🇿</span>
{% elif country_code == 'NI' %}<span class="flag-icon">🇳🇮</span>
{% elif country_code == 'NE' %}<span class="flag-icon">🇳🇪</span>
{% elif country_code == 'NG' %}<span class="flag-icon">🇳🇬</span>
{% elif country_code == 'NU' %}<span class="flag-icon">🇳🇺</span>
{% elif country_code == 'NF' %}<span class="flag-icon">🇳🇫</span>
{% elif country_code == 'MK' %}<span class="flag-icon">🇲🇰</span>
{% elif country_code == 'MP' %}<span class="flag-icon">🇲🇵</span>
{% elif country_code == 'NO' %}<span class="flag-icon">🇳🇴</span>
{% elif country_code == 'OM' %}<span class="flag-icon">🇴🇲</span>
{% elif country_code == 'PK' %}<span class="flag-icon">🇵🇰</span>
{% elif country_code == 'PW' %}<span class="flag-icon">🇵🇼</span>
{% elif country_code == 'PS' %}<span class="flag-icon">🇵🇸</span>
{% elif country_code == 'PA' %}<span class="flag-icon">🇵🇦</span>
{% elif country_code == 'PG' %}<span class="flag-icon">🇵🇬</span>
{% elif country_code == 'PY' %}<span class="flag-icon">🇵🇾</span>
{% elif country_code == 'PE' %}<span class="flag-icon">🇵🇪</span>
{% elif country_code == 'PH' %}<span class="flag-icon">🇵🇭</span>
{% elif country_code == 'PN' %}<span class="flag-icon">🇵🇳</span>
{% elif country_code == 'PL' %}<span class="flag-icon">🇵🇱</span>
{% elif country_code == 'PT' %}<span class="flag-icon">🇵🇹</span>
{% elif country_code == 'PR' %}<span class="flag-icon">🇵🇷</span>
{% elif country_code == 'QA' %}<span class="flag-icon">🇶🇦</span>
{% elif country_code == 'RE' %}<span class="flag-icon">🇷🇪</span>
{% elif country_code == 'RO' %}<span class="flag-icon">🇷🇴</span>
{% elif country_code == 'RU' %}<span class="flag-icon">🇷🇺</span>
{% elif country_code == 'RW' %}<span class="flag-icon">🇷🇼</span>
{% elif country_code == 'BL' %}<span class="flag-icon">🇧🇱</span>
{% elif country_code == 'SH' %}<span class="flag-icon">🇸🇭</span>
{% elif country_code == 'KN' %}<span class="flag-icon">🇰🇳</span>
{% elif country_code == 'LC' %}<span class="flag-icon">🇱🇨</span>
{% elif country_code == 'MF' %}<span class="flag-icon">🇲🇫</span>
{% elif country_code == 'PM' %}<span class="flag-icon">🇵🇲</span>
{% elif country_code == 'VC' %}<span class="flag-icon">🇻🇨</span>
{% elif country_code == 'WS' %}<span class="flag-icon">🇼🇸</span>
{% elif country_code == 'SM' %}<span class="flag-icon">🇸🇲</span>
{% elif country_code == 'ST' %}<span class="flag-icon">🇸🇹</span>
{% elif country_code == 'SA' %}<span class="flag-icon">🇸🇦</span>
{% elif country_code == 'SN' %}<span class="flag-icon">🇸🇳</span>
{% elif country_code == 'RS' %}<span class="flag-icon">🇷🇸</span>
{% elif country_code == 'SC' %}<span class="flag-icon">🇸🇨</span>
{% elif country_code == 'SL' %}<span class="flag-icon">🇸🇱</span>
{% elif country_code == 'SG' %}<span class="flag-icon">🇸🇬</span>
{% elif country_code == 'SX' %}<span class="flag-icon">🇸🇽</span>
{% elif country_code == 'SK' %}<span class="flag-icon">🇸🇰</span>
{% elif country_code == 'SI' %}<span class="flag-icon">🇸🇮</span>
{% elif country_code == 'SB' %}<span class="flag-icon">🇸🇧</span>
{% elif country_code == 'SO' %}<span class="flag-icon">🇸🇴</span>
{% elif country_code == 'ZA' %}<span class="flag-icon">🇿🇦</span>
{% elif country_code == 'GS' %}<span class="flag-icon">🇬🇸</span>
{% elif country_code == 'SS' %}<span class="flag-icon">🇸🇸</span>
{% elif country_code == 'ES' %}<span class="flag-icon">🇪🇸</span>
{% elif country_code == 'LK' %}<span class="flag-icon">🇱🇰</span>
{% elif country_code == 'SD' %}<span class="flag-icon">🇸🇩</span>
{% elif country_code == 'SR' %}<span class="flag-icon">🇸🇷</span>
{% elif country_code == 'SJ' %}<span class="flag-icon">🇸🇯</span>
{% elif country_code == 'SE' %}<span class="flag-icon">🇸🇪</span>
{% elif country_code == 'CH' %}<span class="flag-icon">🇨🇭</span>
{% elif country_code == 'SY' %}<span class="flag-icon">🇸🇾</span>
{% elif country_code == 'TW' %}<span class="flag-icon">🇹🇼</span>
{% elif country_code == 'TJ' %}<span class="flag-icon">🇹🇯</span>
{% elif country_code == 'TZ' %}<span class="flag-icon">🇹🇿</span>
{% elif country_code == 'TH' %}<span class="flag-icon">🇹🇭</span>
{% elif country_code == 'TL' %}<span class="flag-icon">🇹🇱</span>
{% elif country_code == 'TG' %}<span class="flag-icon">🇹🇬</span>
{% elif country_code == 'TK' %}<span class="flag-icon">🇹🇰</span>
{% elif country_code == 'TO' %}<span class="flag-icon">🇹🇴</span>
{% elif country_code == 'TT' %}<span class="flag-icon">🇹🇹</span>
{% elif country_code == 'TN' %}<span class="flag-icon">🇹🇳</span>
{% elif country_code == 'TR' %}<span class="flag-icon">🇹🇷</span>
{% elif country_code == 'TM' %}<span class="flag-icon">🇹🇲</span>
{% elif country_code == 'TC' %}<span class="flag-icon">🇹🇨</span>
{% elif country_code == 'TV' %}<span class="flag-icon">🇹🇻</span>
{% elif country_code == 'UG' %}<span class="flag-icon">🇺🇬</span>
{% elif country_code == 'UA' %}<span class="flag-icon">🇺🇦</span>
{% elif country_code == 'AE' %}<span class="flag-icon">🇦🇪</span>
{% elif country_code == 'GB' %}<span class="flag-icon">🇬🇧</span>
{% elif country_code == 'US' %}<span class="flag-icon">🇺🇸</span>
{% elif country_code == 'UM' %}<span class="flag-icon">🇺🇲</span>
{% elif country_code == 'UY' %}<span class="flag-icon">🇺🇾</span>
{% elif country_code == 'UZ' %}<span class="flag-icon">🇺🇿</span>
{% elif country_code == 'VU' %}<span class="flag-icon">🇻🇺</span>
{% elif country_code == 'VE' %}<span class="flag-icon">🇻🇪</span>
{% elif country_code == 'VN' %}<span class="flag-icon">🇻🇳</span>
{% elif country_code == 'VG' %}<span class="flag-icon">🇻🇬</span>
{% elif country_code == 'VI' %}<span class="flag-icon">🇻🇮</span>
{% elif country_code == 'WF' %}<span class="flag-icon">🇼🇫</span>
{% elif country_code == 'EH' %}<span class="flag-icon">🇪🇭</span>
{% elif country_code == 'YE' %}<span class="flag-icon">🇾🇪</span>
{% elif country_code == 'ZM' %}<span class="flag-icon">🇿🇲</span>
{% elif country_code == 'ZW' %}<span class="flag-icon">🇿🇼</span>
{% endif %}