{% if country_code == 'XX' %}🏴‍☠️
{% elif country_code == 'AF' %}🇦🇫
{% elif country_code == 'AX' %}🇦🇽
{% elif country_code == 'AL' %}🇦🇱
{% elif country_code == 'DZ' %}🇩🇿
{% elif country_code == 'AS' %}🇦🇸
{% elif country_code == 'AD' %}🇦🇩
{% elif country_code == 'AO' %}🇦🇴
{% elif country_code == 'AI' %}🇦🇮
{% elif country_code == 'AQ' %}🇦🇶
{% elif country_code == 'AG' %}🇦🇬
{% elif country_code == 'AR' %}🇦🇷
{% elif country_code == 'AM' %}🇦🇲
{% elif country_code == 'AW' %}🇦🇼
{% elif country_code == 'AU' %}🇦🇺
{% elif country_code == 'AT' %}🇦🇹
{% elif country_code == 'AZ' %}🇦🇿
{% elif country_code == 'BS' %}🇧🇸
{% elif country_code == 'BH' %}🇧🇭
{% elif country_code == 'BD' %}🇧🇩
{% elif country_code == 'BB' %}🇧🇧
{% elif country_code == 'BY' %}🇧🇾
{% elif country_code == 'BE' %}🇧🇪
{% elif country_code == 'BZ' %}🇧🇿
{% elif country_code == 'BJ' %}🇧🇯
{% elif country_code == 'BM' %}🇧🇲
{% elif country_code == 'BT' %}🇧🇹
{% elif country_code == 'BO' %}🇧🇴
{% elif country_code == 'BQ' %}🇧🇶
{% elif country_code == 'BA' %}🇧🇦
{% elif country_code == 'BW' %}🇧🇼
{% elif country_code == 'BV' %}🇧🇻
{% elif country_code == 'BR' %}🇧🇷
{% elif country_code == 'IO' %}🇮🇴
{% elif country_code == 'BN' %}🇧🇳
{% elif country_code == 'BG' %}🇧🇬
{% elif country_code == 'BF' %}🇧🇫
{% elif country_code == 'BI' %}🇧🇮
{% elif country_code == 'CV' %}🇨🇻
{% elif country_code == 'KH' %}🇰🇭
{% elif country_code == 'CM' %}🇨🇲
{% elif country_code == 'CA' %}🇨🇦
{% elif country_code == 'KY' %}🇰🇾
{% elif country_code == 'CF' %}🇨🇫
{% elif country_code == 'TD' %}🇹🇩
{% elif country_code == 'CL' %}🇨🇱
{% elif country_code == 'CN' %}🇨🇳
{% elif country_code == 'CX' %}🇨🇽
{% elif country_code == 'CC' %}🇨🇨
{% elif country_code == 'CO' %}🇨🇴
{% elif country_code == 'KM' %}🇰🇲
{% elif country_code == 'CG' %}🇨🇬
{% elif country_code == 'CD' %}🇨🇩
{% elif country_code == 'CK' %}🇨🇰
{% elif country_code == 'CR' %}🇨🇷
{% elif country_code == 'CI' %}🇨🇮
{% elif country_code == 'HR' %}🇭🇷
{% elif country_code == 'CU' %}🇨🇺
{% elif country_code == 'CW' %}🇨🇼
{% elif country_code == 'CY' %}🇨🇾
{% elif country_code == 'CZ' %}🇨🇿
{% elif country_code == 'DK' %}🇩🇰
{% elif country_code == 'DJ' %}🇩🇯
{% elif country_code == 'DM' %}🇩🇲
{% elif country_code == 'DO' %}🇩🇴
{% elif country_code == 'EC' %}🇪🇨
{% elif country_code == 'EG' %}🇪🇬
{% elif country_code == 'SV' %}🇸🇻
{% elif country_code == 'GQ' %}🇬🇶
{% elif country_code == 'ER' %}🇪🇷
{% elif country_code == 'EE' %}🇪🇪
{% elif country_code == 'SZ' %}🇸🇿
{% elif country_code == 'ET' %}🇪🇹
{% elif country_code == 'FK' %}🇫🇰
{% elif country_code == 'FO' %}🇦🇨
{% elif country_code == 'FJ' %}🇫🇯
{% elif country_code == 'FI' %}🇫🇮
{% elif country_code == 'FR' %}🇫🇷
{% elif country_code == 'GF' %}🇬🇫
{% elif country_code == 'PF' %}🇵🇫
{% elif country_code == 'TF' %}🇹🇫
{% elif country_code == 'GA' %}🇬🇦
{% elif country_code == 'GM' %}🇬🇲
{% elif country_code == 'GE' %}🇬🇪
{% elif country_code == 'DE' %}🇩🇪
{% elif country_code == 'GH' %}🇬🇭
{% elif country_code == 'GI' %}🇬🇮
{% elif country_code == 'GR' %}🇬🇷
{% elif country_code == 'GL' %}🇬🇱
{% elif country_code == 'GD' %}🇬🇩
{% elif country_code == 'GP' %}🇬🇵
{% elif country_code == 'GU' %}🇬🇺
{% elif country_code == 'GT' %}🇬🇹
{% elif country_code == 'GG' %}🇬🇬
{% elif country_code == 'GN' %}🇬🇳
{% elif country_code == 'GW' %}🇬🇼
{% elif country_code == 'GY' %}🇬🇾
{% elif country_code == 'HT' %}🇭🇹
{% elif country_code == 'HM' %}🇭🇲
{% elif country_code == 'VA' %}🇻🇦
{% elif country_code == 'HN' %}🇭🇳
{% elif country_code == 'HK' %}🇭🇰
{% elif country_code == 'HU' %}🇭🇺
{% elif country_code == 'IS' %}🇮🇸
{% elif country_code == 'IN' %}🇮🇳
{% elif country_code == 'ID' %}🇮🇩
{% elif country_code == 'IR' %}🇮🇷
{% elif country_code == 'IQ' %}🇮🇶
{% elif country_code == 'IE' %}🇮🇪
{% elif country_code == 'IM' %}🇮🇲
{% elif country_code == 'IL' %}🇮🇱
{% elif country_code == 'IT' %}🇮🇹
{% elif country_code == 'JM' %}🇯🇲
{% elif country_code == 'JP' %}🇯🇵
{% elif country_code == 'JE' %}🇯🇪
{% elif country_code == 'JO' %}🇯🇴
{% elif country_code == 'KZ' %}🇰🇿
{% elif country_code == 'KE' %}🇰🇪
{% elif country_code == 'KI' %}🇰🇮
{% elif country_code == 'KP' %}🇰🇵
{% elif country_code == 'KR' %}🇰🇷
{% elif country_code == 'KW' %}🇰🇼
{% elif country_code == 'KG' %}🇰🇬
{% elif country_code == 'LA' %}🇱🇦
{% elif country_code == 'LV' %}🇱🇻
{% elif country_code == 'LB' %}🇱🇧
{% elif country_code == 'LS' %}🇱🇸
{% elif country_code == 'LR' %}🇱🇷
{% elif country_code == 'LY' %}🇱🇾
{% elif country_code == 'LI' %}🇱🇮
{% elif country_code == 'LT' %}🇱🇹
{% elif country_code == 'LU' %}🇱🇺
{% elif country_code == 'MO' %}🇲🇴
{% elif country_code == 'MG' %}🇲🇬
{% elif country_code == 'MW' %}🇲🇼
{% elif country_code == 'MY' %}🇲🇾
{% elif country_code == 'MV' %}🇲🇻
{% elif country_code == 'ML' %}🇲🇱
{% elif country_code == 'MT' %}🇲🇹
{% elif country_code == 'MH' %}🇲🇭
{% elif country_code == 'MQ' %}🇲🇶
{% elif country_code == 'MR' %}🇲🇷
{% elif country_code == 'MU' %}🇲🇺
{% elif country_code == 'YT' %}🇾🇹
{% elif country_code == 'MX' %}🇲🇽
{% elif country_code == 'FM' %}🇫🇲
{% elif country_code == 'MD' %}🇲🇩
{% elif country_code == 'MC' %}🇲🇨
{% elif country_code == 'MN' %}🇲🇳
{% elif country_code == 'ME' %}🇲🇪
{% elif country_code == 'MS' %}🇲🇸
{% elif country_code == 'MA' %}🇲🇦
{% elif country_code == 'MZ' %}🇲🇿
{% elif country_code == 'MM' %}🇲🇲
{% elif country_code == 'NA' %}🇳🇦
{% elif country_code == 'NR' %}🇳🇷
{% elif country_code == 'NP' %}🇳🇵
{% elif country_code == 'NL' %}🇳🇱
{% elif country_code == 'NC' %}🇳🇨
{% elif country_code == 'NZ' %}🇳🇿
{% elif country_code == 'NI' %}🇳🇮
{% elif country_code == 'NE' %}🇳🇪
{% elif country_code == 'NG' %}🇳🇬
{% elif country_code == 'NU' %}🇳🇺
{% elif country_code == 'NF' %}🇳🇫
{% elif country_code == 'MK' %}🇲🇰
{% elif country_code == 'MP' %}🇲🇵
{% elif country_code == 'NO' %}🇳🇴
{% elif country_code == 'OM' %}🇴🇲
{% elif country_code == 'PK' %}🇵🇰
{% elif country_code == 'PW' %}🇵🇼
{% elif country_code == 'PS' %}🇵🇸
{% elif country_code == 'PA' %}🇵🇦
{% elif country_code == 'PG' %}🇵🇬
{% elif country_code == 'PY' %}🇵🇾
{% elif country_code == 'PE' %}🇵🇪
{% elif country_code == 'PH' %}🇵🇭
{% elif country_code == 'PN' %}🇵🇳
{% elif country_code == 'PL' %}🇵🇱
{% elif country_code == 'PT' %}🇵🇹
{% elif country_code == 'PR' %}🇵🇷
{% elif country_code == 'QA' %}🇶🇦
{% elif country_code == 'RE' %}🇷🇪
{% elif country_code == 'RO' %}🇷🇴
{% elif country_code == 'RU' %}🇷🇺
{% elif country_code == 'RW' %}🇷🇼
{% elif country_code == 'BL' %}🇧🇱
{% elif country_code == 'SH' %}🇸🇭
{% elif country_code == 'KN' %}🇰🇳
{% elif country_code == 'LC' %}🇱🇨
{% elif country_code == 'MF' %}🇲🇫
{% elif country_code == 'PM' %}🇵🇲
{% elif country_code == 'VC' %}🇻🇨
{% elif country_code == 'WS' %}🇼🇸
{% elif country_code == 'SM' %}🇸🇲
{% elif country_code == 'ST' %}🇸🇹
{% elif country_code == 'SA' %}🇸🇦
{% elif country_code == 'SN' %}🇸🇳
{% elif country_code == 'RS' %}🇷🇸
{% elif country_code == 'SC' %}🇸🇨
{% elif country_code == 'SL' %}🇸🇱
{% elif country_code == 'SG' %}🇸🇬
{% elif country_code == 'SX' %}🇸🇽
{% elif country_code == 'SK' %}🇸🇰
{% elif country_code == 'SI' %}🇸🇮
{% elif country_code == 'SB' %}🇸🇧
{% elif country_code == 'SO' %}🇸🇴
{% elif country_code == 'ZA' %}🇿🇦
{% elif country_code == 'GS' %}🇬🇸
{% elif country_code == 'SS' %}🇸🇸
{% elif country_code == 'ES' %}🇪🇸
{% elif country_code == 'LK' %}🇱🇰
{% elif country_code == 'SD' %}🇸🇩
{% elif country_code == 'SR' %}🇸🇷
{% elif country_code == 'SJ' %}🇸🇯
{% elif country_code == 'SE' %}🇸🇪
{% elif country_code == 'CH' %}🇨🇭
{% elif country_code == 'SY' %}🇸🇾
{% elif country_code == 'TW' %}🇹🇼
{% elif country_code == 'TJ' %}🇹🇯
{% elif country_code == 'TZ' %}🇹🇿
{% elif country_code == 'TH' %}🇹🇭
{% elif country_code == 'TL' %}🇹🇱
{% elif country_code == 'TG' %}🇹🇬
{% elif country_code == 'TK' %}🇹🇰
{% elif country_code == 'TO' %}🇹🇴
{% elif country_code == 'TT' %}🇹🇹
{% elif country_code == 'TN' %}🇹🇳
{% elif country_code == 'TR' %}🇹🇷
{% elif country_code == 'TM' %}🇹🇲
{% elif country_code == 'TC' %}🇹🇨
{% elif country_code == 'TV' %}🇹🇻
{% elif country_code == 'UG' %}🇺🇬
{% elif country_code == 'UA' %}🇺🇦
{% elif country_code == 'AE' %}🇦🇪
{% elif country_code == 'GB' %}🇬🇧
{% elif country_code == 'US' %}🇺🇸
{% elif country_code == 'UM' %}🇺🇲
{% elif country_code == 'UY' %}🇺🇾
{% elif country_code == 'UZ' %}🇺🇿
{% elif country_code == 'VU' %}🇻🇺
{% elif country_code == 'VE' %}🇻🇪
{% elif country_code == 'VN' %}🇻🇳
{% elif country_code == 'VG' %}🇻🇬
{% elif country_code == 'VI' %}🇻🇮
{% elif country_code == 'WF' %}🇼🇫
{% elif country_code == 'EH' %}🇪🇭
{% elif country_code == 'YE' %}🇾🇪
{% elif country_code == 'ZM' %}🇿🇲
{% elif country_code == 'ZW' %}🇿🇼
{% endif %}