{% if state == 'logout' %}
  zombiegang-0.1~beta
{% else %}
<img class="window-icon" src="{{ url_for('static', filename='img/an-skull.gif') }}" />
{% endif %}
{% if state == 'login' %}
  {{ zession.username }}@{{ zession.remote_host }}
{% elif window_type == 'filter' %}
  {{ data_type + '-' + window_type + '.sql' }}
{% elif window_type == 'launcher' %}
  {{ data_type + '-' + window_type + '.exe' }}
{% elif window_type == 'editor' %}
  {{ data_type + '-' + window_type + '.txt' }}
{% elif window_type == 'profile-editor' %}
  {{ data_type + '-' + 'editor.SAM' }}
{% elif window_type == 'table-results' %}
  {{ data_type + '-' + window_type + '.xlsx' }}
{% elif window_type == 'creator' %}
  {{ data_type + '-' + window_type + '.ps1' }}
{% elif data_type == 'proxy' %}
  {{ data_type + '.exe' }}
{% elif window_type == 'popup' %}
  {{ data_type + '-' + window_type + '.html' }}
{% endif %}