{% block styles %}
<style>

/* BASE styles */
* {
    box-sizing: border-box;
}

body {
  background-size: cover;
}

@font-face {
  font-family: "Gothic Pixels";
  src: url({{ url_for('static', filename='fonts/GothicPixels.ttf') }}) format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Verily Serif Mono";
  src: url({{ url_for('static', filename='fonts/VerilySerifMono.otf') }}) format("otf");
  font-weight: normal;
  font-style: normal;
}

html,body {
  height:100%;
  width:100%;
  margin:0;
}

h4 {
 margin: 0 auto 0.2rem;
}

h4, th {
  font-family: "GothicPixels", Arial;
  -webkit-font-smoothing: none;
  text-align: center;
  vertical-align: middle;
}

.error {
 color:red;
 position: absolute;
 border-radius: 5px;
 border: 1px solid black;
 padding: 4px;
 text-align:center;
 margin-left: -95px;
 margin-top: -25px;
 background: rgba(204, 120, 116, 0.3);
}
.filter-error {
 margin-top: 15px;
 margin-left: 8px;
}
.success {
  color: purple;
 position: absolute;
 border-radius: 3px;
 border: 1px solid black;
 padding: 4px;
 text-align:center;
 margin-left: -50px;
 /*margin-top: 35px;*/
 background: rgba(204, 120, 116, 0.3);
}


hr {
 border: 1px dotted #3e3636;
 width: 100%;
 margin: 15px 0;
}

/* CURSOR styles */
span, div, h4, p, td, th, li  {
  cursor: default;
}

a *, button, button * {
  cursor: pointer;
}

input[type="text"], input[type="textarea"] {
  cursor: text;
}


/* HEADER styles */
header {
  position: sticky;
  z-index: 1;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

header img#banner {
  display: inline;
  max-width: 40rem;
  width: 100%;
}

img.zombie {
  display: inline;
  max-width: 7rem;
}

img.zr {
  position: relative;
  left: -0.6rem;
}

img.zl {
  position: relative;
  right: -0.4rem;
}

img.flip-vertical {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}



/* BASE WINDOW styles */
.window {
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  z-index: 10;
}

img.window-icon {
    display: inline;
    margin-right: 5px;
    margin-left: 3px;
    vertical-align:middle;
    width: 0.5rem;
}



/* INDEX/LOGIN/GAME styles */
.logged-in-wrapper{
  background-image: url({{ url_for('static', filename='img/wxp-negative.webp') }}) !important;
  background-size: cover;
}
.logged-out-wrapper{
  background-image: url({{ url_for('static', filename='img/wxp.webp') }}) !important;
  background-size: cover;
}

div.float-center-window {
  height:100%;
  width:100%;
  margin:0;
  display: flex;
}
div#login-wrapper > div.window {
  width: 20rem;
  margin: auto;
}

img.login-skull {
  /*margin-left: 0.8rem;*/
  margin-right: -0.2rem;
  width: 5.5rem;
}



/* DASHBOARD base styles */
div#dashboard-wrapper {
  padding-top: 3rem; /* because header removed */
  position: sticky;
  z-index: 5;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: space-around;
  margin-left: 5%;
}

div#navbar-wrapper {
    /*width: 26rem;*/
    width: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;*/
}

div#central-panel-wrapper {
    /* width: 69rem; */
    width: 75%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}

div#dashboard-wrapper .window {
    margin: 10px 10px 0;
}


/* LAUNCHER styles */
div.attack-creator {
  width: 40rem;
}

.launcher-m {
  width: 23rem;
}
.launcher-l {
  width: 28rem;
}

.launcher-img-m {
  width: 19.5rem;
}
.launcher-img-l {
  width: 24.5rem;
}


/* TABLES styles */
.scroll-table {
  overflow-y: auto;
  /* max-height: 30rem; */
}

.table-m {
 min-width: 45rem;
 max-height: 11.2rem;
}
.table-l {
 min-width: 45rem;
 max-height: 29.3rem;
}
.table-xl {
  min-width: 50rem;
  max-height: 40rem;
}

table {
    background-color: white;
}

table.grey-table {
  background-color: grey;
}

td,tr {
    padding: 15px;
}

.users-panel {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.mewtwo-panel {
  height: 11rem;
}

span.img-icon { /* used in table headers */
    font-size: 0.8rem;
}


/* DARK TABLE custom styles */
table.darkTable thead th, table.darkTable tbody td {
  /*color: white;*/
  color: #E6E6E6;
}
table.darkTable th:hover, table.darkTable td:hover {
  color: orangered;
}
table.darkTable thead th {
  font-size: 14px;
  font-weight: bold;
  /*color: white;*/
  text-align: center;
}
table.darkTable tbody td {
  font-size: 11px;
  /*color: #E6E6E6;*/
}
table.darkTable td.with-icon {
 text-align: left;
}



/* FORMS styles */
input.date-field {
  width: 6.8rem;
}

input.time-field {
  width: 5.7rem;
}

fieldset.start_dt:enabled {
  background-color: palegreen;
}
fieldset.stop_dt:enabled {
  background-color: #d77474;
}

select:focus {
  background-color: indigo;
}

button#creator {
    margin-top: 0.5rem;
    margin-left: 3rem;
}

form button.standard {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
}


/* POPUPS styles */
.popup {
  z-index: 20;
  position:absolute;
  top:50%;
  left:50%;
  /*min-width:400px !important;
  min-height:400px !important;*/
  margin-left:-200px !important;
  margin-top:-200px !important;
}



/* BUTTON-PANELS styles */
div.buttons-row {
 /*width: 50%; margin: 0 auto; text-align: center;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

div.buttons-row button:not(#btn-create-users) {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}

fieldset.buttons-row {
  padding: 0;
}

span.button-text {
  margin-left: 4px;
  margin-right: 4px;
}

fieldset.styless {
  display: inline;
 border: 0;
 margin: 0;
 padding: 0;
}


/* ICONS styles */
span.margin-right-icon {
  margin-right: 6px;
}

span.margin-left-icon {
  margin-left: 6px;
}

span.title-icon {  /* used for flames and candles */
  font-size: 1rem;
}


/* IMG styles */
img.flames {
  display: inline;
  width: 0.97rem;
  vertical-align: bottom;
}

#img-launcher {
  display: inherit;
  margin: 0 auto;
}


/* LISTS styles */
ul.styless {
   background: none;
   border: none;
   box-shadow: none;
}

.text-bold {
  font-weight: bold;
}


/* DESKTOP-SHORTCUTS styles */
div.desktop {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  /*position: fixed;
  bottom: 1rem;
  left: 1rem;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;*/
}

li.shortcut {
  width: 4.03rem;
  height: 4.03rem;
  margin-top: 1rem !important;
}

a.desktop-shortcut {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: stretch;
}

.js-popup {
  z-index: 15;
  position: fixed;
  bottom: 7rem;
  left: 3rem;
}

img.shortcut-icon {
  /*width: 2.6rem;*/
  height: 2.2rem;
  margin-bottom: 0.2rem;
  align-self: center;
}

img.skull-shortcut-icon {
  height: 2.25rem !important;
}

img.doom-icon {
  width: 2.2rem;
}

img.flightsim-icon {
  width: 2.2rem;
}

img.cmd-icon {
  padding: 0.2rem;
}

img.aoe-icon {
  margin-left: -0.38rem;
  padding-bottom: 0.2rem !important;
}

.zoo-icon {
  width: 2.4rem;
  padding: 0.3rem;
}

img.vdj-icon {
  padding: 0.06rem;
}

span.shortcut-text {
  /*width: 3.92rem;
  width: 4.02rem;*/
  overflow-wrap: anywhere;
}

span.shortcut-text {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px black;
}

/* PROXY POPUP styles */
div#proxy-js-popup {
  width: 12.5rem;
}

dl#proxy-info {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: 0.3rem;
}
dl#proxy-info dt, dl#proxy-info dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-top: 0.1rem;
}

dl#proxy-info dd {
  text-align: left;
}


/* FOOTER styles */
.foot-link {
    color: orange;
    font-size: 14px;
    font-family: "Pixelated MS Sans Serif";
    font-weight: bold;
    position: fixed;
    z-index: 50;
    bottom: 0;
    right: 10px;
}

.foot-link:hover {
    color:white;
}


</style>

{% endblock %}