{% block datetime_inputs %}

<div style="text-align: right;">
    <label for="{{ 'date_' + bef_aft + '_' + section }}"><span class="margin-right-icon">🔎  </span><span> by date ({% if bef_aft == 'bef' %} {{ 'before' }} {% else %} {{ 'after' }} {% endif %}):</span> </label>
    <input id="{{ 'date_' + bef_aft + '_' + section }}" name="{{ 'date_' + bef_aft + '_' + section }}" type="date" value="{{ request.form.get('date_' + bef_aft + '_' + section) }}" />
    <label for="{{ 'time_' + bef_aft + '_' + section }}">hour (hh:mm): </label>
    <input id="{{ 'time_' + bef_aft + '_' + section }}" name="{{ 'time_' + bef_aft + '_' + section }}" type="time" value="{{ request.form.get('time_' + bef_aft + '_' + section) }}" />
</div>

{% endblock %}