
{% block form %}

<form id="edit-profile-form" action="" method="POST" xmlns="http://www.w3.org/1999/html">
  <table style="background-color: gray; margin: 0 auto;">
    <tr>
      <td style="display: flex; justify-content: space-between; flex-wrap: wrap;">
        <input id="pswd" name="pswd" type="password" value="{{ request.form.pswd }}" style="width: 48%; text-align: right;" />
        <button type="submit" id="pswd-btn" name="pswd-btn" style="width: 48%; margin: 0;"><span class="emoji">🗝️  </span><span class="button-text">Update password</span></button>
        {% if update_error and 'password' in update_error %}
          <p class="{% if 'updated' in update_error %}success{% else %}error{% endif %}">{{ update_error }}</p>
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>
        <textarea id="public_key" name="public_key" rows="4" cols="40" form="edit-profile-form" style="display: block;">{{ request.form.public_key }}</textarea>
        <button type="submit" id="public-key-btn" name="public-key-btn" style="display: block; margin: 0.5rem auto 0;width: 100%;"><span class="emoji">🔒  </span><span class="button-text">Update public key</span></button>
        {% if update_error and 'public_key' in update_error %}
          <p class="{% if 'updated' in update_error %}success{% else %}error{% endif %}">{{ update_error }}</p>
        {% endif %}
      </td>
    </tr>
  </table>
</form>

{% endblock %}