{% block form %}

<form name="{{ data_type + '-filter' }}" action="" method="POST">
    {% if filter_by_target %}
    <div class="field-row-stacked">
      <label for="target"><span class="margin-right-icon">🔎  </span><span> by target:</span> </label>
      <input id="target" name="target" type="text" value="{{ request.form.target }}" />
    </div>
    <hr>
    {% endif %}

    {% if filter_by_os %}
    <div class="field-row-stacked">
      <label for="os_filter"><span class="margin-right-icon">🔎  </span><span> by operative system:</span> </label>
        <select id="os_filter" name="os_filter">
          <option value=""></option>
          <option value="linux">linux</option>
          <option value="windows">windows</option>
          <option value="mac">mac</option>
          <option value="android">android</option>
          <option value="iphone">iphone</option>
      </select>
    </div>
    <hr>
    {% endif %}

    <div class="field-row-stacked">
      <label style="display: inline; vertical-align: middle;" for="username"><span class="margin-right-icon">🔎  </span><span> by username: </span></label>
      <input id="username" name="username" type="text" value="{{ request.form.username }}" />
    </div>

    {% if filter_by_time %}
      <hr>
      <fieldset>
        {% with bef_aft = 'bef', section = 'filter' %}
          {% include 'objects/forms/inputs/datetime.html' %}
        {% endwith %}
        {% with bef_aft = 'aft', section = 'filter' %}
          {% include 'objects/forms/inputs/datetime.html' %}
        {% endwith %}
      </fieldset>
    {% endif %}

    {% if filter_error %}
    <p class="error filter-error">{{ filter_error }}</p>
    {% endif %}

    <div class="field-row-stacked">
      {% include 'objects/forms/inputs/filter-button.html' %}
    </div>
</form>

{% endblock %}