{% block form %}

<form name="login" action="" method="POST">
  <div class="field-row-stacked">
    <label for="host">host: </label>
    <input id="host" name="hostname" type="text" value="{{ request.form.hostname }}" />
  </div>

  {% if error and 'hostname' in error %}
  <p  class="error">{{ error }}</p>
  {% endif %}

  <div class="field-row-stacked">
    <label for="username">username: </label>
    <input id="username" name="username" type="text" value="{{ request.form.username }}" />
  </div>

  {% if error and 'credentials' in error %}
  <p  class="error">{{ error }}</p>
  {% endif %}

  <div class="field-row-stacked">
    <label for="pswd">password: </label>
    <input id="pswd" name="pswd" type="password" value="{{ request.form.pswd }}"/>
  </div>

<!--  <div class="field-row-stacked">-->
  <button class="standard" type="submit" id="begin" name="begin" style="display: block; width: 50%;">
<!--  <span class="emoji">✅  </span>-->
<!--  <span class="emoji">🚪  </span>-->
<!--  <span class="button-text">Login</span>-->
    Login
  </button>
<!--  </div>-->
</form>

{% endblock %}