

{% extends "dashboard/members/masters.html" %}

{% block edit_profile %}

<style>
  .header4 {
  text-align: center;
}

img.flames {
  display: inline; width: 1.1rem;
}
</style>

{% if update_error and 'updated' in update_error %}
<style>
.error {
  color: purple;
}
</style>
{% endif %}

<div class="edit-profile" style="margin: 0 auto; max-width: 25.5rem;">

{% with window_type = 'editor', data_type = 'master-profile' %}
    {% include 'windows/profile-editor-window.html' %}
{% endwith %}

</div>


{% endblock %}
