

{% extends "dashboard/base_dashboard.html" %}


{% block panel_window %}

{% with window_type = 'filter', data_type = 'masters', filter_by_time = False %}
    {% include 'windows/filter-window.html' %}
{% endwith %}

{% with window_type = 'launcher', data_type = 'master-profile-editor', banner = 'img/driver2-.jpg', btn_msg = 'Edit my profile' %}
    {% include 'windows/launcher-window.html' %}
{% endwith %}

<!--close panel div-->
</div>
<!--close navbar div-->
</div>

{% if data %}
<div style="margin: 0 auto; min-width: 20rem;">
{% with window_type = 'table-results', data_type = 'masters' %}
    {% include 'windows/table-results-window.html' %}
{% endwith %}
</div>
{% endif %}

{% block edit_profile %}{% endblock %}

{% endblock %}

