

{% extends "dashboard/base_dashboard.html" %}

{% block lateral_panel %}

{% with window_type = 'filter', data_type = 'zombies', filter_by_time = True, filter_by_os = True %}
    {% include 'windows/filter-window.html' %}
{% endwith %}

{% endblock %}



{% block central_panel %}

{% if data %}
<div style="margin: 0 auto; min-width: 50rem;">
{% with window_type = 'table-results', data_type = 'zombies' %}
    {% include 'windows/table-results-window.html' %}
{% endwith %}
</div>
{% endif %}

{% endblock %}
