

{% extends "dashboard/base_dashboard.html" %}

{% block panel_window %}

{% with window_type = 'filter', data_type = 'zombies', filter_by_time = True %}
    {% include 'windows/filter-window.html' %}
{% endwith %}


<!--close panel div-->
</div>
<!--close navbar div-->
</div>

{% if data %}
<div style="margin: 0 auto; min-width: 60rem;">
{% with window_type = 'table-results', data_type = 'zombies' %}
    {% include 'windows/table-results-window.html' %}
{% endwith %}
</div>
{% endif %}

{% endblock %}
