

{% extends "dashboard/base_dashboard.html" %}

{% block panel_window %}

{% with window_type = 'filter', data_type = 'access-logs', filter_by_time = True %}
    {% include 'windows/filter-window.html' %}
{% endwith %}

<!--close panel div-->
</div>
<!--close navbar div-->
</div>

{% if data %}
<div class="panel-info">
<div class="window" id="access-log-results" style="background-color: grey;">
  <div class="title-bar">
    <div class="title-bar-text"><img style="display: inline; margin-right: 5px; margin-left: 3px; vertical-align:middle;" height="3%" width="3%" src="{{ url_for('static', filename='img/an-skull.gif') }}" />access-logs.xlsx</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize" onclick="toggleMinimize('access-logs-results-body')"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" onclick="document.getElementById('access-log-results').remove()"></button>
    </div>
  </div>
  <div class="window-body" id="access-logs-results-body">
    <div id="access-logs-data">
        <table class="darkTable">
            <thead>
            <tr>
                <!--<td>id</td>-->
                <th>datetime</th>
                <th>username</th>
                <th>successful</th>
                <th>public IP</th>
                <th>hostname</th>
                <th>MAC address</th>
            </tr>
            </thead>
            <tbody>
            {% for log in data %}
            <tr>
                <!--<td>{{ log['id'] }}</td>-->
                <td>{{ log['date_time'] }}</td>
                <td>{{ log['username'] }}</td>
                {% if log['successful'] == '0' %}
                <td style="color: red">error</td>
                {% else %}
                <td style="color: green">login</td>
                {% endif %}
                <td>{{ log['public_ip'] }}</td>
                <td>{{ log['hostname'] }}</td>
                <td>{{ log['mac_addr'] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
</div>
</div>
{% endif %}

{% endblock %}
