
{% block attack %}

{% if create_error and 'created' in create_error %}
  <style>
    .error {color: purple;}
  </style>
{% endif %}


{% if create_attack %}
  <div id="{{ data_type + '-creator' }}" style="width: 40rem;">
  {% with window_type = 'creator' %}
    {% include 'windows/panels/attack-creator-window.html' %}
  {% endwith %}
  </div>
{% endif %}

{% if not create_attack %}
  <div id="{{ data_type + '-launcher' }}" style="width: 30rem;">
    {% with window_type = 'launcher', width_img = '28.5rem', btn_msg = 'Wizard' %}
      {% include 'windows/launcher-window.html' %}
    {% endwith %}
  </div>

{% else %}
  <div id="{{ data_type + '-launcher' }}" style="width: 25rem;">
    {% with window_type = 'launcher', data_type = 'ddos-attacks', width_img = '23.5rem', btn_msg = 'Wizard' %}
      {% include 'windows/launcher-window.html' %}
    {% endwith %}
  </div>
{% endif %}

{% endblock %}