

{% extends "dashboard/base_dashboard.html" %}

{% block panel_window %}

{% with window_type = 'filter', data_type = 'brute-attacks', filter_by_time = True, filter_by_target = True %}
    {% include 'windows/filter-window.html' %}
{% endwith %}

<!--close panel div-->
</div>
<!--close navbar div-->
</div>

<div style="margin: 0 auto;">
{% with window_type = 'launcher', data_type = 'brute-attacks', banner = 'img/wolfenstein.png', btn_msg = 'Wizard' %}
    {% include 'windows/launcher-window.html' %}
{% endwith %}
</div>

{% endblock %}
