

{% extends "dashboard/base_dashboard.html" %}

{% block panel_window %}

{% with window_type = 'filter', data_type = 'ddos-attacks', filter_by_time = True %}
    {% include 'windows/filter-window.html' %}
{% endwith %}

<div class="window" id="ddos-attacks-creator-window" style="background-color: grey;">
  <div class="title-bar">
    <div class="title-bar-text"><img style="display: inline; margin-right: 5px; margin-left: 3px; vertical-align:middle;" height="3%" width="3%" src="{{ url_for('static', filename='img/an-skull.gif') }}" />ddos-attacks-creator.exe</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize" onclick="toggleMinimize('ddos-attacks-creator-body')"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" onclick="document.getElementById('ddos-attacks-creator-window').remove()"></button>
    </div>
  </div>
  <div class="window-body" id="ddos-attacks-creator-body">
    <h4>Order new attack</h4>

    <img src="{{ url_for('static', filename='img/gta2busted.jpg') }}" width="500rem" />

    <form id="ddos-attacks-creator-form" name="ddos-attacks-creator" action="" method="POST">
        <label for="ddos_type">DDoS attack type</label>
        <select id="ddos_type" name="ddos_type">
          <option value="slowloris">slowloris</option>
          <option value="rudy">RUDY</option>
          <option value="syn">SYN flood</option>
        </select>
        <button type="submit" id="creator" name="creator">Wizard</button>
    </form>
  </div>
</div>

<!--close panel div-->
</div>
<!--close navbar div-->
</div>


{% endblock %}
