
{% if window_type == 'popup' or window_type == 'js-popup' %}<div class="{{ window_type }}">{% endif %}

<div class="window" id="{{ data_type }}-{{ window_type }}">

    <div class="title-bar">
      <div class="title-bar-text">
        {% include 'objects/dynamic/window_bar_title.html' %}
      </div>

      <div class="title-bar-controls">
      <button aria-label="Minimize" onclick="toggleMinimize('{{ data_type }}-{{ window_type }}-body')"></button>
      <button aria-label="Maximize"></button>

      {% if close_button_action == 'link' %}<a href="{{ close_link }}">{% endif %}

      <button aria-label="Close" onclick="document.getElementById('{{ data_type }}-{{ window_type }}').remove()"></button>

      {% if close_button_action == 'link' %}</a>{% endif %}
      </div>
    </div>

    <div class="window-body" id="{{ data_type }}-{{ window_type }}-body">

      {% block window %}{% endblock %}

    </div>
</div>

{% if window_type == 'popup' or window_type == 'js-popup' %}</div>{% endif %}