
<style>
.window {
  background-color: grey;
  margin-left: auto;
}

img.img-icon {
    display: inline;
    margin-right: 5px;
    margin-left: 3px;
    vertical-align:middle;
    height: 3%;
    width: 3%;
}
</style>

<div class="window" id="{{ data_type + '-' + window_type }}">

    <div class="title-bar">
    <div class="title-bar-text">
        {% if window_type == 'index' %}
          zombiegang-0.1~beta
        {% else %}
        <img class="img-icon" src="{{ url_for('static', filename='img/an-skull.gif') }}" />
        {% endif %}
        {% if window_type == 'login' %}
          {{ zession.username }}@{{ zession.remote_hostname }}
        {% elif window_type == 'filter' %}
          {{ data_type + '-' + window_type + '.sql' }}
        {% elif window_type == 'launcher' %}
          {{ data_type + '-' + window_type + '.exe' }}
        {% elif window_type == 'editor' %}
          {{ data_type + '-' + window_type + '.txt' }}
        {% elif window_type == 'table-results' %}
          {{ data_type + '-' + window_type + '.xlsx' }}
        {% endif %}
    </div>

      <div class="title-bar-controls">
      <button aria-label="Minimize" onclick="toggleMinimize('{{ data_type + '-' + window_type + '-body' }}')"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" onclick="document.getElementById('{{ data_type + '-' + window_type }}').remove()"></button>
    </div>
  </div>

    <div class="window-body" id="{{ data_type + '-' + window_type + '-body' }}">

  {% block window %}{% endblock %}

  </div>
</div>