
{% extends 'windows/base_window.html' %}

{% block window %}

<style>body{background-image: url({{ url_for('static',filename='img/wxp.webp') }}) !important;}</style>

<table>
    <tr>
    <td style="width: 200px; height: 175px;">
    <p style="text-align: center;">Welcome to zombiegang!</p>
    </td>

    <td style="vertical-align: top">
      <img style="margin: 0 5px; padding-top:15px;" width="100%" src="{{ url_for('static', filename='img/an-skull.gif') }}" />
    </td>
    </tr>
</table>

{% endblock %}
