
{% extends 'windows/base-window.html' %}

{% block window %}

  {% if 'attacks' in data_type %}
  <h4>order new attacK</h4>
  {% endif %}

  <img id="img-launcher" src="{{ url_for('static', filename=banner) }}" style="{{ 'width:' + width_img + ';'}}" />

  <form id="launcher-form" name="launcher-form" action="" method="POST" style="display: flex; justify-content: space-between; align-items: center;">
    <button type="submit" id="btn-launcher" name="btn-launcher" style="margin-top: 5px; margin-bottom: 0;">{{ btn_msg }}</button>
  </form>

{% endblock %}
