<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>{% block title %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% include 'win98css.html' %}

<style>

@font-face {
  font-family: "Gothic Pixels";
  src: url({{ url_for('static', filename='fonts/GothicPixels.ttf') }}) format("ttf");
  font-weight: normal;
  font-style: normal;
}

html,body {
  height:100%;
  width:100%;
  margin:0;
}

.error {
 color:red;
 font-weight: bold;
 text-align:center;
}

h4 {
 margin: 0 auto 0.2rem;
}
</style>

<script src="{{ url_for('static', filename='effects.js') }}"></script>

</head>

{% block content %}{% endblock %}

{% include 'footer.html' %}

</body>
</html>