

{% extends "base_template.html" %}

{% block title %}zombiegang{% endblock %}

{% block content %}

<style>
div#login-wrapper {
  height:100%;
  width:100%;
  margin:0;
  display: flex;
}
div#login-wrapper > div.window {
    margin: auto;
}
</style>

{% if not zession.jwt %}
<body style="background-image: url({{ url_for('static', filename='img/wxpn.webp') }})!important;">
{% else %}
<body style="background-image: url({{ url_for('static', filename='img/wxp.webp') }}) !important;">
{% endif %}

<div id="login-wrapper">
    {% block login %}{% endblock %}
</div>

</body>
{% endblock %}

