

{% extends "index.html" %}


{% block login %}

<div class="window" id='window' style="max-width: 310px; background-color: grey;">
  <div class="title-bar">
    <div class="title-bar-text">zombiegang-0.1~beta</div>
    <div class="title-bar-controls">
      <button aria-label="Minimize"  onclick="toggleMinimize('index-body')"></button>
      <button aria-label="Maximize"></button>
      <button aria-label="Close" onclick="document.getElementById('window').remove()"></button>
    </div>
  </div>

  <div class="window-body" id="index-body">
    <table>
        <tr>
        <td style="width: 200px">
          <form name="login" action="" method="POST">
              <div class="field-row-stacked">
                <label for="host">host: </label>
                <input id="host" name="hostname" type="text" value="{{ request.form.hostname }}" />
              </div>

              <div class="field-row-stacked">
                <label for="username">username: </label>
                <input id="username" name="username" type="text" value="{{ request.form.username }}" />
              </div>

              <div class="field-row-stacked">
                <label for="pswd">password: </label>
                <input id="pswd" name="pswd" type="password" value="{{ request.form.pswd }}"/>
              </div>

              {% if error %}
              <p  class="error">{{ error }}</p>
              {% endif %}

              <div class="field-row-stacked">
              <button type="submit" id="begin" name="begin" style="width: 60%; margin: 6px auto;">Login</button>
              </div>
          </form>
        </td>

        <td style="vertical-align: top">
          <img style="margin: 0 5px; padding-top:15px;" width="100%" src="{{ url_for('static', filename='img/skull.png') }}" />
        </td>
        </tr>
    </table>
  </div>
</div>


{% endblock %}

