

{% extends "pages/dashboard/base_dashboard.html" %}

{% block lateral_panel %}

{% with window_type = 'filter', data_type = 'zombies', filters=('username', 'datetime', 'os') %}
    {% include 'objects/windows/filter.html' %}
{% endwith %}

{% endblock %}



{% block central_panel %}


{% if zombies_created %}
  {% with window_type = 'popup', data_type='zombies', operation='created', data=zombies_created, close_button_action = 'link', close_link = url_for('members_bp.zombies'), img='img/digimon-world1.png' %}
    {% include 'objects/windows/popups/updated-data.html' %}
  {% endwith %}
{% endif %}

{% if users_deleted %}
  {% with window_type = 'popup', data_type='users', operation='deleted', data=users_deleted, close_button_action = 'link', close_link = url_for('members_bp.zombies'), img='img/gta2busted.jpg' %}
    {% include 'objects/windows/popups/updated-data.html' %}
  {% endwith %}
{% endif %}


{% if zombies_deleted %}
  {% with window_type = 'popup', data_type='zombies', operation='deleted', data=zombies_deleted, close_button_action = 'link', close_link = url_for('members_bp.zombies'), img='img/medievil.jpg' %}
    {% include 'objects/windows/popups/updated-data.html' %}
  {% endwith %}
{% endif %}

<!--  <div id="zombies-data-panel">-->
  {% if zombie_requests %}
  {% with window_type = 'table-results', data_type = 'users', data_buttons=True, data=zombie_requests, scrollable_table=True, table_class='table-m', height='11.2rem' %}
      {% include 'objects/windows/data-results.html' %}
  {% endwith %}
  {% endif %}

  {% if data_filter.data %}
    {% with data=data_filter.data, window_type = 'table-results', data_type = 'zombies', data_buttons=True, scrollable_table=True, table_class='table-l', max_height='29.3rem' %}
        {% include 'objects/windows/data-results.html' %}
    {% endwith %}
  {% endif %}
<!--  </div>-->


{% endblock %}
