

{% extends "pages/dashboard/base_dashboard.html" %}

{% block lateral_panel %}

{% with data_type = 'brute-attacks', window_type = 'filter', filter_by_time = True, filter_by_target = True %}
    {% include 'objects/windows/filter.html' %}
{% endwith %}

{% endblock %}



{% block central_panel %}

{% if data %}
  {% with window_type = 'table-results', data_type = 'tasks', task_type = 'brute', edit_buttons=True, scrollable_table=True, table_class='table-xl' %}
    {% include 'objects/windows/data-results.html' %}
  {% endwith %}
{% endif %}

{% with data_type = 'brute-attacks', banner = 'img/wolfenstein.png',  icon = '🎰', panel_title = 'brute force attacK' %}
  {% include 'pages/dashboard/tools/base-attack.html' %}
{% endwith %}

{% endblock %}
