

{% extends "pages/dashboard/base_dashboard.html" %}

{% block lateral_panel %}

{% with window_type = 'filter', filters=('task_type', 'created_at') %}
    {% include 'objects/windows/filter.html' %}
{% endwith %}

{% endblock %}



{% block central_panel %}

<!-- launchers -->

<div id="launchers-wrapper">
{% with window_type = 'launcher', task_type='dos', banner = 'img/genkidama.webp', img_class = 'launcher-img-m', icon = '', panel_title = 'ddos attacK' %}<!--  icon = '🚦'-->
  {% include 'objects/windows/attacks-launcher.html' %}
{% endwith %}

{% with window_type = 'launcher', task_type='brt', banner = 'img/wolfenstein.png', img_class = 'launcher-img-m', icon = '', panel_title = 'brute force attacK' %}<!--  icon = '🎰'-->
  {% include 'objects/windows/attacks-launcher.html' %}
{% endwith %}

{% with window_type = 'launcher', task_type='rsm', banner = 'img/mgs-1.jpg', img_class = 'launcher-img-m', icon = '', panel_title = 'ransomware attacK' %}<!--  icon = '🔑'-->
  {% include 'objects/windows/attacks-launcher.html' %}
{% endwith %}

<!--{% with window_type = 'launcher', btn_msg = '🧙🏼‍♂️ Wizard', data_type = 'tasks', task_type='brute_attacks', banner = 'img/wolfenstein.png', img_class = 'launcher-img-m', icon = '🎰', panel_title = 'brute force attacK' %}-->
<!--  {% include 'objects/windows/attacks-launcher.html' %}-->
<!--{% endwith %}-->
</div>

<!-- table with filtered tasks -->

{% if data_filter.data %}
  {% with data=data_filter.data, window_type = 'table-results', data_buttons=True, scrollable_table=True, table_class='table-xl-short' %}
    {% include 'objects/windows/data-results.html' %}
  {% endwith %}
{% endif %}

{% endblock %}
